// WARNING! When you add/remove/change var in this file – please, add/remove/change var in ds-palette_root.scss

$white: #fff;
$black: #000;
$red: #f00;
$red-50: #f50200;
$blue-50: #0085fe;
$green-20: #e6f8eb;
$green-100: #02b937;
$primary-20: #fffbeb;
$primary-30: #fff3cc;
$primary-40: #ffe799;
$primary-50: #fcdb6e;
$primary-60: #ffcf33;
$primary-70: #ffc400;
$primary-80: #f0b400;
$primary-90: #e6a800;
$primary-100: #d69d00;
$secondary-5: #f3f3f3;
$secondary-10: #fcfcfc;
$secondary-15: #f7f8f8;
$secondary-20: #f1f3f3;
$secondary-30: #eff0f0;
$secondary-40: #eaebec;
$secondary-50: #dfe1e2;
$secondary-60: #abaeb0;
$secondary-70: #969a9c;
$secondary-80: #7d8082;
$secondary-90: #4b4d4e;
$secondary-100: #202122;
