@import url("/assets/scripts/simple_adaptive_slider/s.css") (max-width: 1140px);

@media all and (max-width: 1380px){
 h3{
  font-size: 30px
 }
 h4{
  font-size: 30px
 }
 #section__middle li{
  font-size: 16px
 }
}

@media all and (max-width: 1330px){
 h2{
  font-size: 120px
 }
 #footer__top h2{
  align-self: flex-end
 }

 #header__bottom{
  flex-direction: column
 }
 #header__bottom__left{
  align-items: center;
  margin-bottom: 24px
 }
 #header__bottom__left h3{
  text-align: center
 }

 #footer__bottom{
  flex-direction: column
 }
 #footer__bottom > *{
  width: auto;
 }
 #footer__bottom__left{
  width: auto
 }
}

@media all and (max-width: 1140px){
 #section__middle{
  flex-direction: column; align-items: center
 }
 #section__middle img{
  margin-top: 0
 }

 #section__middle > *{
  width: auto
 }
 #section__middle__left{
  border-radius: 2vmax 2vmax 0 0;
  margin-right: 0
 }
 #section__middle__right{
  border-radius: 0 0 2vmax 2vmax
 }
 #section__middle__right ol{
  column-count: 1; column-gap: 0
 }

 .itcss__indicators{
  bottom: -24px;
  display: block
 }
}
@media all and (min-width: 1139px){
 .itcss__item{
  transform: none !important
 }
 .itcss__indicators{
  display: none
 }
}

@media all and (max-width: 1000px){
 h2{
  font-size: 72px
 }
}

@media all and (max-width: 980px){
 body > main{
  padding: 4vmax
 }

 #header__top{
  flex-direction: column; align-items: flex-end;
  width: 100%
 }
 #header__top *{
  order: 1
 }
 #header__top a{
  margin-bottom: 24px;
  order: 0
 }

 #header__comparison{
  border-radius: 2vmax
 }
 #header__comparison picture::after{
  top: calc(50% - (4vmax / 2)); left: calc(100% - (4vmax / 2));
  width: 4vmax; height: 4vmax
 }

 #footer__form{
  background-color: transparent;
  border-radius: unset;
  padding: 24px 0
 }
}

@media all and (max-width: 600px){
 h2{
  font-size: 42px
 }
 hr{
  margin-bottom: 1%
 }

 #header__bottom__right{
  flex-direction: column
 }
 #header__bottom__right > *:nth-child(1){
  align-items: flex-start;
  counter-reset: header 0
 }
 #header__bottom__right > *:nth-child(2){
  counter-reset: header 5
 }
 #header__bottom__right li{
  border: none; border-bottom: 1px solid rgba(255, 255, 255, .2); border-radius: 0;
  width: 100%
 }
 #header__bottom__right > *:nth-child(2) li:last-of-type{
  border-bottom: none
 }
 #header__bottom__right p{
  display: flex
 }
 #header__bottom__right p::before{
  counter-increment: header 1;
  margin-right: 24px; margin-bottom: 0
 }

 #footer__form .rows{
  flex-direction: column
 }
 #footer__form .rows:not(:last-child){
  margin-bottom: 0
 }
 #footer__form .rows label{
  margin-bottom: 18px
 }
 #footer__form__processing{
  flex-direction: row !important;
  margin-bottom: 18px !important
 }
}

@media all and (max-width: 420px){

}